#firstBox {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    float: right;
}

#secondBox {
    width: 100px;
    height: 100px;
    background-color: bisque;
    float: right;
    /* clear: right; */
}

#thirdBox {
    width: 100px;
    height: 100px;
    background-color: red;
    float: right;
    /* clear: left; */
}
body{
    width: 500px;
    height: 200px;
}
header{
    width: 100%;
    height: 30%;
    background-color: red;
}
section{
    width: 70%;
    height: 100%;
    background-color: orange;
    float: left;
}
p{
    margin: 0;
    border : 1px solid black;
    width: 100%;
}
aside{
    width: 30%;
    height: 100%;
    background-color: pink;
    float: right;
}
footer{
    width: 100%;
    height: 30%;
    background-color: blue;
    clear: left;
}
.flex-container {
    display: flex;
    /* flex-direction: column; */
    width: 300px;
    height: 300px;
    border: solid 1px black;
}

.box1 {
    width: 100px;
    height: 100px;
    justify-content: center;
    background-color: bisque;
    border: solid 1px black;
}
.box2 {
    width: 100px;
    height: 100px;
    background-color: bisque;
    border: solid 1px black;
}
.box3 {
    align-self:flex-end;
    width: 100px;
    height: 100px;
    background-color: bisque;
    border: solid 1px black;
}
.box4 {
    align-self:flex-end;
    width: 100px;
    height: 100px;
    background-color: bisque;
    border: solid 1px black;
}
.box5 {
    align-self:flex-end;
    width: 100px;
    height: 100px;
    background-color: bisque;
    border: solid 1px black;
}
.flex-container {
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 100px 100px; /* 적어준 크기 개수보다 실제 요소가 많다면 반복 */
    grid-template-rows: minmax(100px, auto); /* 1fr 1fr 1fr 로 비율만 설정하는 것도 가능 */
    padding: 10px;
    border: solid 1px black
}

.grid-item {
    background-color: bisque;
    border: solid 1px black;
    margin: 5px;
}

.grid-item:nth-child(1){
    grid-column: 2/4;
    grid-row: 2/3;
    justify-content: center;
    height: 50%;
}

.grid-item:nth-child(8){
    grid-column: 1/3;
    grid-row: 4/5;
}